body {
  font-family: 'Maven Pro';
  background-image: url('/assets/subway.jpg');
  background-size: 100%;
}

nav {
  background-color: black;
}

.navbar-brand {
  color: black;
  background: yellow;
}

form {
  margin: 300px auto;
  width: 600px;
}

.music {
  margin: 50px auto;
}

img{
  margin:auto;
  width: 500px;
}

audio{
  width: 100%;
}

.annotations {
  margin: 20px auto;
  position: relative;
}

.note {
  font-size: 20pt;
  text-align: center;
  color: black;
  background: yellow;
  position: absolute;
  top: 5%;
  z-index: 99;
}

uib-slide {
  position: relative;
}

.caption {
  color: black;
  background: yellow;
  position: absolute;
  top: 48%;
  right: 40%;
  font-size: 50px;
}

.video-container {
  position: absolute;
}

