body {
  font-family: 'Maven Pro';
}

h1 {
  text-align: center;
  margin: auto;
  width: 600px;
  font-size: 50pt;
}

form {
  margin: 500px auto;
  width: 600px;
}

.music {
  margin: 250px auto;
}

img{
  margin:auto;
}

audio{
  width: 100%;
}

