body {
  font-family: 'Maven Pro';
  background-color: #4E1B9B;
  background-image: url('/assets/subway.jpg');
  background: linear-gradient(0deg, rgba(78,27,155,0.5), rgba(78,27,155,0.5)), url('/assets/aerial-city.jpg');
  background-size: 100%;
}

.header {
  margin: 10px;
  width: 8%;
}

h1 {
  color: yellow;
  font-size: 20pt;
  border: 3pt solid yellow;
  text-align: center;
}

h1:hover {
  background-color: #4E1B9B;
  cursor: pointer;
}

form {
  margin: 500px auto;
  width: 600px;
}

form input {
  border: 2pt solid yellow;
  text-decoration: none;
  border-radius: 1px;
}

.music {
  margin: 50px auto;
}

img{
  margin:auto;
  width: 500px;
}

audio{
  width: 100%;
}

.annotations {
  margin: 20px auto;
  position: relative;
}

.note {
  font-size: 20pt;
  text-align: center;
  color: black;
  background: yellow;
  position: absolute;
  top: 5%;
  z-index: 99;
}

uib-slide {
  position: relative;
}

.caption {
  color: black;
  background: yellow;
  position: absolute;
  top: 48%;
  right: 40%;
  font-size: 50px;
}

.video-container {
  position: absolute;
}

.home {
  margin: 10px;
  width: 40px;
  outline: 0;
  background-color: Transparent;
  border: 2pt solid yellow;
}

.home:hover {
  background-color: #4E1B9B;
  cursor: pointer;
}

img:hover {
  cursor: pointer;
}

.home span {
  color: yellow;
}

